# default port
PORT=3030

# your credentials
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# configure to your /callback path (ensure that it's in the redirect URI list on developer.spotify.com)
REDIRECT_URI=