@import "tailwindcss";

:root {
    --twilight-purple: #662F89;
}

@font-face {
    font-family: 'font-lr-bold';
    src: url('/LexieReadable-Bold.ttf');
}

body {
    background-color: #212027;
    color: #fff;
    font-family: font-lr-bold;
}

a {
    color: lightskyblue;
    text-decoration: underline;
}

.twilight-purple {
    color: var(--twilight-purple);
}

.border-twilight-purple {
    border-color: var(--twilight-purple);
}