@import "tailwindcss";

:root {
    --twilight-purple: #662F89;
}

@font-face {
    font-family: 'font-lr-bold';
    src: url('/LexieReadable-Bold.ttf');
}

@layer utilities {
  /* Style for WebKit Browsers (Chrome, Safari, Edge, Opera) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1b1b1b;
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--twilight-purple);
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #8c699f;
  }

  /* Standard rules ONLY for browsers that DO NOT support WebKit styles (like Firefox) */
  @supports not selector(::-webkit-scrollbar) {
    .custom-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #888 #f1f1f1;
    }
  }
}

body {
    background-color: #212027;
    color: #fff;
    /* font-family: font-lr-bold; */
}

ul {
    list-style: disc;
}

input, select, textarea, #intake-form-submit {
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    border-color: var(--twilight-purple);
    outline: none;
}

input:focus, select:focus, textarea:focus {
    border-width: 2px;
    border-color: lightgreen;
}

.project-status {
    font-family:'Courier New', Courier, monospace;
}

#wordmark {
    width: 196px;
    font-size: 300;
}

.showcase-image {
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 90%;
}

.twilight-purple {
    color: var(--twilight-purple);
}

.border-twilight-purple {
    border-color: var(--twilight-purple);
}

#twilight-spin {
    max-width: 96px;
}