---
import MainLayout from "../layouts/MainLayout.astro";
import Project from "../components/Project.astro";
import Skill from "../components/Skill.astro";
---

<MainLayout>
	{/* layout > root */}
	<div
		class="grid grid-cols-1 md:grid-cols-2 md:h-screen max-h-screen overflow-y-auto md:mt-4 h-full gap-4"
	>
		{/* bio */}
		<div
			class="flex flex-col w-full max-w-screen-md mx-auto text-center gap-8 px-4 pt-16 pb-12 md:h-full md:max-h-full md:overflow-y-auto custom-scrollbar md:pb-32"
		>
			{/* header */}
			<div
				class="flex flex-col sm:flex-row justify-around items-center gap-16 sm:gap-0"
			>
				<a
					title="art by unitxxvii"
					href="https://derpibooru.org/3518770"
					target="_blank"
				>
					<img class="m-auto w-[256px]" src="/3518770.png" />
				</a>
				<div>
					<div>
						<h1 class="text-3xl font-bold">compscitwilight</h1>
						<p>
							developer, <a
								class="text-sky-600 underline"
								target="_blank"
								href="https://www.youtube.com/@everysingletwilight"
								>musician</a
							>, & student
						</p>
					</div>
					<div class="mt-2">
						<p>
							Full-stack developer who writes in TypeScript and
							Go.
						</p>
					</div>
					<div
						class="flex gap-2 justify-center items-center px-16 py-4"
					>
						<a
							href="https://github.com/compscitwilight"
							target="_blank"
						>
							<img
								class="w-[32px]"
								src="/social_images/github.png"
							/>
						</a>
						<a href="https://x.com/compscitwilight" target="_blank">
							<img
								class="w-[32px]"
								src="/social_images/twitter.png"
							/>
						</a>
						<a
							href="https://discord.com/users/472530726613549066"
							target="_blank"
						>
							<img
								class="w-[32px] text-white"
								src="/social_images/discord.svg"
							/>
						</a>
						<a
							href="https://rateyourmusic.com/~compscitwilight"
							target="_blank"
						>
							<img
								class="w-[32px] text-white"
								src="/social_images/rym.svg"
							/>
						</a>
					</div>
				</div>
			</div>

			{/* about me */}
			<div class="text-left">
				<div>
					<strong class="text-xl">About me</strong>
					<hr class="twilight-purple my-2" />
					<p>
						Hi, I go by <strong>Rust</strong>. I am a computer
						science student and full-stack developer specializing in
						TypeScript and Go. I'm involved in web development,
						systems engineering, real-time networking, and browser
						extensions.
					</p>
				</div>
			</div>

			{/* skills */}
			<div class="grid gap-2 text-left">
				<div>
					<strong class="text-xl">Programming languages</strong>
					<div class="flex flex-wrap mt-1 items-center gap-2">
						<Skill name="typescript" />
						<Skill name="go" />
						<Skill name="python" />
						<Skill name="rust" />
						<Skill name="lua" />
						<Skill name="cs" />
					</div>
				</div>
				<div>
					<strong class="text-xl">Frameworks & Libraries</strong>
					<div class="flex flex-wrap mt-1 items-center gap-2">
						<Skill name="node.js" />
						<Skill name="react" />
						<Skill name="next.js" />
						<Skill name="tailwind" />
						<Skill name="sass" />
						<Skill name="vite.js" />
						<Skill name="socket.io" />
						<Skill name="astro" />
						<Skill name="express" />
						<Skill name="vue.js" />
						<Skill name="fastify" />
						<Skill name="selenium" />
						<Skill name="prisma.js" />
						<Skill name="discord.js" />
						<Skill name="sequelize" />
						<Skill name="roblox-studio" />
						<Skill name="electron" />
					</div>
				</div>
				<div>
					<strong class="text-xl">Databases & Infrastructure</strong>
					<div class="flex flex-wrap mt-1 items-center gap-2">
						<Skill name="postgres" />
						<Skill name="redis" />
						<Skill name="sqlite" />
						<Skill name="docker" />
						<Skill name="vercel" />
						<Skill name="cloudflare" />
						<Skill name="proxmox" />
						<Skill name="aws" />
					</div>
				</div>
				<div>
					<strong class="text-xl">Tools & APIs</strong>
					<div class="flex flex-wrap mt-1 items-center gap-2">
						<Skill name="git" />
						<Skill name="github" />
						<Skill name="linux" />
						<Skill name="debian" />
						<Skill name="arch-linux" />
						<Skill name="fedora" />
						<Skill name="bash" />
						<Skill name="google-cloud" />
						<Skill name="vscode" />
						<Skill name="vim" />
					</div>
				</div>
			</div>
		</div>

		<!-- <SpotifyCurrentTrack /> -->

		{/* projects */}
		<div
			class="grid grid-cols-1 w-full max-w-screen-md mx-auto text-left gap-8 px-4 content-start md:mt-4 md:overflow-y-auto custom-scrollbar"
		>
			<div>
				<strong class="text-2xl">Featured Project</strong>
				<hr class="twilight-purple my-2" />
				<Project
					title="Herd"
					imageSrc="/showcase/herd.png"
					externalLink="https://herd.twilight.horse"
					technology={["typescript", "vite.js", "socket.io"]}
					date="Mar 2026"
				>
					<p>
						An upcoming real-time multiplayer game where players
						collect ponies to form herds. Featured dynamic herd
						formations, server authoritative state, and an in-house
						asset manager that works natively with <a
							class="text-sky-600 underline"
							href="https://pony.town">pony.town</a
						>

						sprites.
					</p>

					<p>
						Built with Pixi.js, Vite, Tailwind, Socket.io, Express;
						deployed with Cloudflare Pages and Cloudflare Tunnels.
					</p>
				</Project>
			</div>

			<div>
				<strong class="text-2xl">Latest Project</strong>
				<hr class="twilight-purple my-2" />
				<Project
					title="TrashNSell.com"
					imageSrc="/showcase/trashnsell.png"
					technology={[
						"typescript",
						"next.js",
						"postgres",
						"google-cloud",
					]}
					externalLink="https://trashnsell.com"
					date="Jun 2026"
				>
					<p>
						Full-stack business website with price estimation, job
						management systems, and integrations with the Google
						Places and Calendar APIs for automating business
						operations.
					</p>
					<p>
						Built for TrashNSell Junk Removal in Grand Island, NE.
					</p>
				</Project>
			</div>

			<div>
				<strong class="text-2xl">Other Projects</strong>
				<hr class="twilight-purple my-2" />
				<div class="grid gap-2">
					<Project
						title="TranslateYourReviews"
						imageSrc="/showcase/translateyourreviews.png"
						imageSize="w-[128px]"
						externalLink="https://github.com/compscitwilight/TranslateYourReviews"
						technology={["typescript", "express", "redis"]}
						date="May 2026"
					>
						<p>
							TypeScript-written browser extension that brings
							DeepL integration to reviews on <a
								class="text-sky-600 underline"
								target="_blank"
								href="https://rateyourmusic.com"
								>RateYourMusic</a
							>. Adds a translate button to reviews in foreign
							languages on the releases page UI, caches
							translations on a custom proxy, and detects multiple
							languages.
						</p>
						<p>
							Available on the <a
								class="text-sky-600 underline"
								href="https://chromewebstore.google.com/detail/translateyourreviews/afidebkjbnljodfoleehhhendihaijlj"
								target="_blank">Chrome Web Store</a
							> and the <a
								class="text-sky-600 underline"
								href="https://addons.mozilla.org/en-US/firefox/addon/translateyourreviews/"
								target="_blank">Mozilla Addons Store</a
							>.
						</p>
					</Project>

					<Project
						title="pipette"
						imageSrc="/showcase/pipette.png"
						externalLink="https://github.com/compscitwilight/pipette"
						technology={["go"]}
						date="May 2026"
					>
						<p>
							Batch file movement utility for capacity-constrained
							block devices.
						</p>
					</Project>

					<Project
						title="The Pony Archive Search"
						imageSrc="/showcase/tpa-search.png"
						externalLink="https://search.twilight.horse"
						technology={[
							"typescript",
							"react",
							"express",
							"postgres",
						]}
						date="Apr 2026"
					>
						<p>
							Open-source search interface for <a
								target="_blank"
								href="https://theponyarchive.com"
								>The Pony Archive</a
							>

							with an index of 1.2M+ files. Supports trigram
							search, uploader linkage, and a public

							<a
								class="text-sky-600 underline"
								target="_blank"
								href="https://search.twilight.horse/download"
								>PSQL dump</a
							>. Express backend deployed on Fly.io with a React
							frontend deployed on Cloudflare Pages.
						</p>
					</Project>

					<Project
						title="ponies.fyi"
						imageSrc="/showcase/ponies.fyi.png"
						externalLink="https://ponies.fyi"
						technology={[
							"typescript",
							"next.js",
							"postgres",
							"cloudflare",
						]}
						date="Feb 2026"
					>
						<p>
							An open-source index of brony fandom OCs with
							structured metadata, revision history, attribution
							tracking, and a notability system for historically
							significant characters. Built using TypeScript,
							Next.js, Prisma, and Cloudflare R2.
						</p>
					</Project>

					<Project
						title="twilight.horse"
						externalLink="https://twilight.horse"
						technology={["astro", "cloudflare"]}
						date="Feb 2026"
					>
						<p>
							my personal site that you're on right now! Built
							using Astro and hosted with Cloudflare Pages. Source
							code available <a
								class="text-sky-600 underline"
								target="_blank"
								href="https://github.com/compscitwilight/twilight.horse"
								>here</a
							>.
						</p>
					</Project>

					<Project
						title="PonyAggregate"
						externalLink="https://ponyaggregate.com"
						technology={[
							"typescript",
							"next.js",
							"postgres",
							"cloudflare",
						]}
						date="Dec 2025"
					>
						<p>
							Platform for archiving pony fandom content. Built
							using a stack of TypeScript, Next.js, Prisma,
							Supabase, and Cloudflare R2, and deployed with
							Vercel.
						</p>
					</Project>

					<div class="h-48 w-full clear-both"></div>
				</div>
			</div>
		</div>
	</div>
</MainLayout>
