---
import MainLayout from "../layouts/MainLayout.astro";
import SpotifyCurrentTrack from "../components/SpotifyCurrentTrack.astro";
import Project from "../components/Project.astro";
---

<MainLayout>
	{/* layout > root */}
	<div
		class="grid grid-cols-1 md:grid-cols-2 h-full max-h-full overflow-hidden gap-4"
	>
		{/* bio */}
		<div
			class="grid grid-cols-1 self-start overflow-y-none gap-8 place-content-center px-4 pt-16 pb-32 mx-auto max-w-screen-md text-center"
		>
			<div
				class="flex flex-col sm:flex-row justify-around items-center gap-16 sm:gap-0"
			>
				<a
					title="art by unitxxvii"
					href="https://derpibooru.org/3518770"
					target="_blank"
				>
					<img class="m-auto w-[256px]" src="/3518770.png" />
				</a>
				<div>
					<div>
						<h1 class="text-3xl font-bold">compscitwilight</h1>
						<p>
							developer, <a
								class="text-sky-600 underline"
								target="_blank"
								href="https://www.youtube.com/@everysingletwilight"
								>musician</a
							>, & student
						</p>
					</div>
					<div class="mt-2">
						<p>i like to build and manage things pony-related.</p>
						<p>learn more about me and my projects below!</p>
					</div>
					<div
						class="flex gap-2 justify-center items-center px-16 py-4"
					>
						<a
							href="https://github.com/compscitwilight"
							target="_blank"
						>
							<img
								class="w-[32px]"
								src="/social_images/github.png"
							/>
						</a>
						<a href="https://x.com/compscitwilight" target="_blank">
							<img
								class="w-[32px]"
								src="/social_images/twitter.png"
							/>
						</a>
						<a
							href="https://discord.com/users/472530726613549066"
							target="_blank"
						>
							<img
								class="w-[32px] text-white"
								src="/social_images/discord.svg"
							/>
						</a>
						<a
							href="https://bsky.app/profile/compscitwilight.bsky.social"
							target="_blank"
						>
							<img
								class="w-[32px]"
								src="/social_images/bluesky.svg"
							/>
						</a>
						<a
							href="https://rateyourmusic.com/~compscitwilight"
							target="_blank"
						>
							<img
								class="w-[32px] text-white"
								src="/social_images/rym.svg"
							/>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- <SpotifyCurrentTrack /> -->

		{/* projects */}
		<div
			class="mt-4 overflow-y-auto pr-2 grid grid-cols-1 gap-8 content-start px-4 mx-auto max-w-screen-md text-left custom-scrollbar"
		>
			<div>
				<strong class="text-2xl">Featured Project</strong>
				<hr class="twilight-purple my-2" />
				<Project
					title="Test"
					imageSrc="/showcase/herd.png"
					externalLink="https://herd.twilight.horse"
				>
					<p>
						An upcoming real-time multiplayer game where players
						collect ponies to form herds. Featured dynamic herd
						formations, server authoritative state, and an in-house
						asset manager that works natively with <a
							class="text-sky-600 underline"
							href="https://pony.town">pony.town</a
						>

						sprites.
					</p>

					<p>
						Built with Pixi.js, Vite, Tailwind, Socket.io, Express;
						deployed with Cloudflare Pages and Cloudflare Tunnels.
					</p>
				</Project>
			</div>

			<div class="w-full">
				<strong class="text-2xl">Other Projects</strong>
				<hr class="twilight-purple my-2" />
				<div class="grid gap-2">
					<Project
						title="The Pony Archive Search"
						imageSrc="/showcase/tpa-search.png"
						externalLink="https://search.twilight.horse"
					>
						<p>
							Open-source search interface for <a
								target="_blank"
								href="https://theponyarchive.com"
								>The Pony Archive</a
							>

							with an index of 1.2M+ files. Supports trigram
							search, uploader linkage, and a public

							<a
								class="text-sky-600 underline"
								target="_blank"
								href="https://search.twilight.horse/download"
								>PSQL dump</a
							>. Express backend deployed on Fly.io with a React
							frontend deployed on Cloudflare Pages.
						</p>
					</Project>

					<Project
						title="ponies.fyi"
						imageSrc="/showcase/ponies.fyi.png"
						externalLink="https://ponies.fyi"
					>
						<p>
							An open-source index of brony fandom OCs with
							structured metadata, revision history, attribution
							tracking, and a notability system for historically
							significant characters. Built using TypeScript,
							Next.js, Prisma, and Cloudflare R2.
						</p>
					</Project>

					<Project
						title="twilight.horse"
						externalLink="https://twilight.horse"
					>
						<p>
							my personal site that you're on right now! Built
							using Astro and hosted with Cloudflare Pages. Source
							code available <a
								class="text-sky-600 underline"
								target="_blank"
								href="https://github.com/compscitwilight/twilight.horse"
								>here</a
							>.
						</p>
					</Project>

					<Project
						title="PonyAggregate"
						externalLink="https://ponyaggregate.com"
					>
						<p>
							Platform for archiving pony fandom content. Built
							using a stack of TypeScript, Next.js, Prisma,
							Supabase, and Cloudflare R2, and deployed with
							Vercel.
						</p>
					</Project>
				</div>
			</div>
		</div>
	</div>
</MainLayout>
