---
import { ExternalLink } from "@lucide/astro";
import MainLayout from "../layouts/MainLayout.astro";
import Skill from "../components/Skill.astro";
---

<MainLayout>
	<div
		class="flex flex-col sm:flex-row justify-around items-center gap-16 sm:gap-0"
	>
		<a
			title="art by unitxxvii"
			href="https://derpibooru.org/3518770"
			target="_blank"
		>
			<img class="m-auto w-[256px]" src="/3518770.png" />
		</a>
		<div>
			<div>
				<h1 class="text-3xl font-bold">compscitwilight</h1>
				<p>
					developer, <a
						class="text-sky-600 underline"
						target="_blank"
						href="https://www.youtube.com/@everysingletwilight"
						>musician</a
					>, & student
				</p>
			</div>
			<div class="mt-2">
				<p>i like to build and manage things pony-related.</p>
				<p>learn more about me and my projects below!</p>
			</div>
			<div class="flex gap-2 justify-center items-center px-16 py-4">
				<a href="https://github.com/compscitwilight" target="_blank">
					<img class="w-[32px]" src="/social_images/github.png" />
				</a>
				<a href="https://x.com/compscitwilight" target="_blank">
					<img class="w-[32px]" src="/social_images/twitter.png" />
				</a>
				<a
					href="https://discord.com/users/472530726613549066"
					target="_blank"
				>
					<img
						class="w-[32px] text-white"
						src="/social_images/discord.svg"
					/>
				</a>
				<a
					href="https://bsky.app/profile/compscitwilight.bsky.social"
					target="_blank"
				>
					<img class="w-[32px]" src="/social_images/bluesky.svg" />
				</a>
			</div>
		</div>
	</div>
	<div
		class="grid grid-cols-1 gap-8 place-content-center px-4 pt-16 mx-auto max-w-screen-md text-center"
	>
		<h2 class="text-2xl">currently working on</h2>
		<hr class="twilight-purple my-2" />
		<div class="grid gap-2 bg-neutral-800/50 p-2 rounded-lg">
			<div class="flex">
				<h1 class="flex-1 text-xl">PixiPony</h1>
				<a
					href="https://github.com/compscitwilight/pixipony"
					target="_blank"
				>
					<ExternalLink />
				</a>
			</div>
			<div>
				<p>
					drop-in NPM package for creating and managing pony sprites,
					built on Pixi.js for express development of pony web games.
				</p>
			</div>
			<div class="flex items-center gap-2">
				<p class="text-xl">tech:</p>
				<img class="w-[32px]" src="/skill_images/typescript.png" />
				<img class="w-[32px]" src="/skill_images/node.js.png" />
			</div>
		</div>
	</div>
	<div
		class="grid grid-cols-1 gap-8 place-content-center px-4 pt-16 pb-32 mx-auto max-w-screen-md text-center"
	>
		<div class="w-full">
			<h2 class="text-2xl">projects!</h2>
			<hr class="twilight-purple my-2" />
			<div class="grid gap-8 my-2">
				<div class="grid gap-2 bg-neutral-800/50 p-2 rounded-lg">
					<div class="flex">
						<h1 class="flex-1 text-xl">twilight.horse</h1>
						<a href="https://twilight.horse" target="_blank">
							<ExternalLink />
						</a>
					</div>
					<div>
						<p>
							my personal site that you're on right now! Built
							using Astro and hosted with Cloudflare Pages. Source
							code available <a
								class="text-sky-600 underline"
								target="_blank"
								href="https://github.com/compscitwilight/twilight.horse"
								>here</a
							>.
						</p>
					</div>
					<div class="flex items-center gap-2">
						<p class="text-xl">tech:</p>
						<img class="w-[32px]" src="/skill_images/astro.png" />
						<img
							class="w-[32px]"
							src="/skill_images/cloudflare.png"
						/>
					</div>
				</div>
				<div class="grid gap-2 bg-neutral-800/50 p-2 rounded-lg">
					<div class="flex">
						<h1 class="flex-1 text-xl">ponies.fyi</h1>
						<a href="https://ponies.fyi" target="_blank">
							<ExternalLink />
						</a>
					</div>
					<div>
						<p>
							An open-source index of brony fandom OCs with
							structured metadata, revision history, attribution
							tracking, and a notability system for historically
							significant characters. Built using TypeScript,
							Next.js, Prisma, and Cloudflare R2.
						</p>
					</div>
					<div class="flex items-center gap-2">
						<p class="text-xl">tech:</p>
						<img
							class="w-[32px]"
							src="/skill_images/typescript.png"
						/>
						<img class="w-[32px]" src="/skill_images/next.js.png" />
						<img
							class="w-[32px]"
							src="/skill_images/postgres.png"
						/>
						<img
							class="w-[32px]"
							src="/skill_images/cloudflare.png"
						/>
					</div>
				</div>
				<div class="grid gap-2 bg-neutral-800/50 p-2 rounded-lg">
					<div class="flex">
						<h1 class="flex-1 text-xl">PonyAggregate</h1>
						<a href="https://ponyaggregate.com" target="_blank">
							<ExternalLink />
						</a>
					</div>
					<div>
						<p>
							Platform for archiving pony fandom content. Built
							using a stack of TypeScript, Next.js, Prisma,
							Supabase, and Cloudflare R2, and deployed with
							Vercel.
						</p>
					</div>
					<div class="flex items-center gap-2">
						<p class="text-xl">tech:</p>
						<img
							class="w-[32px]"
							src="/skill_images/typescript.png"
						/>
						<img class="w-[32px]" src="/skill_images/next.js.png" />
						<img
							class="w-[32px]"
							src="/skill_images/postgres.png"
						/>
						<img
							class="w-[32px]"
							src="/skill_images/cloudflare.png"
						/>
					</div>
				</div>
			</div>
		</div>
		<div>
			<h2 class="text-2xl">skills</h2>
			<hr class="twilight-purple my-2" />
			<div class="grid lg:grid-cols-2 p-2 gap-4 sm:grid-cols-1">
				<Skill
					name="TypeScript"
					image="/skill_images/typescript.png"
					fluency="expert"
				/>
				<Skill
					name="Python"
					image="/skill_images/python.png"
					fluency="expert"
				/>
				<Skill
					name="Lua"
					image="/skill_images/lua.png"
					fluency="expert"
				/>
				<Skill
					name="Node.js"
					image="/skill_images/node.js.png"
					fluency="expert"
				/>
				<Skill
					name="Next"
					image="/skill_images/next.js.png"
					fluency="expert"
				/>
				<Skill
					name="React"
					image="/skill_images/react.png"
					fluency="expert"
				/>
				<Skill
					name="PostgreSQL"
					image="/skill_images/postgres.png"
					fluency="experienced"
				/>
				<Skill
					name="Vue"
					image="/skill_images/vue.js.png"
					fluency="experienced"
				/>
				<Skill
					name="Go"
					image="/skill_images/go.png"
					fluency="experienced"
				/>
				<Skill
					name="Cloudflare Workers/R2"
					image="/skill_images/cloudflare.png"
					fluency="experienced"
				/>
				<Skill
					name="Amazon Web Services"
					image="/skill_images/aws.png"
					fluency="experienced"
				/>
				<Skill
					name="Astro"
					image="/skill_images/astro.png"
					fluency="medium"
				/>
				<Skill
					name="C#"
					image="/skill_images/cs.png"
					fluency="medium"
				/>
				<Skill
					name="Rust"
					image="/skill_images/rust.png"
					fluency="medium"
				/>
			</div>
		</div>
		<div>
			<h2 class="text-2xl">conventions</h2>
			<hr class="twilight-purple my-2" />
			<p>
				i recently attended HarmonyCon 2026 (and plan on attending
				HarmonyCon 2027) and had loads of fun.
			</p>
			<p class="mt-4">
				some photos of the trip can be seen <a
					class="text-sky-600 underline"
					href="/hc2026">here</a
				>
			</p>
		</div>
		<div>
			<h2 class="text-2xl">about me</h2>
			<hr class="twilight-purple my-2" />
			<ul class="list-disc text-lg pl-5">
				<li>i'm a 17 year old based in the southern US</li>
				<li>i've been in the pony fandom since 2022</li>
				<li>i go by CompSciTwilight, Rust, Comp, etc</li>
				<li>
					i am available to be part of any fandom projects, simply
					contact me using the address below
				</li>
			</ul>
		</div>
		<div class="text-lg">
			<h2 class="text-2xl">get in touch</h2>
			<hr class="twilight-purple my-2" />
			<p>
				contact me directly at <a
					class="text-sky-600 underline"
					href="mailto:compsci@twilight.horse"
					>compsci@twilight.horse</a
				>
			</p>
			<p class="mt-2">
				interested in commissions? visit my dedicated <a
					class="text-sky-600 underline"
					href="/commissions">commissions</a
				> page
			</p>
		</div>
	</div>
</MainLayout>
