---
const { src, imageSize } = Astro.props as {
    src?: string;
    imageSize?: string;
};
---

<a href={src} target="_blank" class="flex align-center w-full object-fit `border border-transparent rounded-lg">
    <img class={`rounded-lg m-auto ${imageSize}`} src={src} />
</a>
