---

---

<div>

</div>

<script>
    function displayTrackInfo(data: any) {

    }

    fetch("https://spotify.twilight.horse/current-track")
        .then(async (response) => {
            if (!response.ok) {
                console.warn(`failed to retrieve current Spotify track: ${response.status}`);
                return;
            }
        })
</script>