---
---

<div class="flex lg:flex-row flex-col border-2 p-2 twilight-purple">
    <div>
        <img src="/3518770.png" class="w-[64px]" />
        <p class="self-center text-3xl font-bold">twilight.horse</p>
    </div>
    <div class="lg:grid ml-auto items-center text-white">
        <div>
            <i>"hahaha, i don't know what to put here"</i>
        </div>
        <div class="self-end">
            <a
                class="transition-color duration-200 hover:text-purple-300"
                href="#">[ home ]</a
            >
            <a
                class="transition-color duration-200 hover:text-purple-300"
                href="#about">[ about ]</a
            >
            <a
                class="transition-color duration-200 hover:text-purple-300"
                href="#projects">[ projects ]</a
            >
            <a
                class="transition-color duration-200 hover:text-purple-300"
                href="#contact">[ contact ]</a
            >
        </div>
    </div>
</div>
