---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="title" content="twilight.horse" />
        <meta
            name="description"
            content="Developer and student who likes to make pony-related things."
        />
        <meta name="author" content="twilight.horse" />
        <meta
            name="keywords"
            content="twilight.horse, compscitwilight, pony developer, brony developer, pony software, ponysona, web developer, student developer"
        />
        <meta name="robots" content="index, follow" />
        <meta name="language" content="English" />
        <meta name="revisit-after" content="7 days" />
        <link rel="canonical" href="https://twilight.horse/" />
        <meta name="theme-color" content="#8D5DA4" />
        <meta property="og:type" content="website">
        <meta
            property="og:description"
            content="Developer and student who likes to make pony-related things."
        />
        <meta property="og:site_name" content="twilight.horse" />
        <meta property="og:url" content="https://twilight.horse/" />
        <meta property="og:locale" content="en_US" />
        <meta
            name="twitter:description"
            content="Developer and student who likes to make pony-related things."
        />
        <title>twilight.horse</title>
    </head>
    <body
        class="grid gap-4 min-h-screen min-w-screen my-8 bg-radial from-purple-900/25 to-indigo-900/25"
    >
        <slot />
    </body>
</html>
